<mat-grid-list cols="4" rowHeight="100px">
	<mat-grid-tile colspan="3">
		<h1>우리집 전력 사용량</h1>
	</mat-grid-tile>

	<mat-grid-tile>
		<mat-form-field style="width:10em">
			<mat-select matNativeControl [(ngModel)]="Form.Mode" (ngModelChange)="Submit()">
				<mat-option value="User">유저 모드</mat-option>
				<mat-option value="Admin">관리 모드</mat-option>
			</mat-select>
		</mat-form-field>
	</mat-grid-tile>
</mat-grid-list>

<mat-tab-group mat-align-tabs="center" style="top:50px" [selectedIndex]="Tab.value"
	(selectedIndexChange)="Tab.setValue($event)">
	<mat-tab label="일" [disabled]="true"></mat-tab>
	<mat-tab label="월"></mat-tab>
</mat-tab-group>

<div class="w-50" style="padding: 0 5%; text-align:center;">
	<mat-form-field>
		<mat-select matNativeControl [(ngModel)]="Form.dong" (ngModelChange)="Submit()">
			<mat-option *ngFor="let dong of Form_Initial.dong;" [value]="dong">
				{{dong}}동
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field *ngIf="Form.Mode === 'User'">
		<mat-select matNativeControl [(ngModel)]="Form.floor" (ngModelChange)="Submit()">
			<mat-option *ngFor="let floor of Form_Initial.floor;" [value]="floor">
				{{floor}}층
			</mat-option>
		</mat-select>
	</mat-form-field>

	<br/>

	<span *ngFor="let x of ['시작', '종료']; let i = index;">
		<span>{{x}} 월</span>
		<mat-slider #month min="1" max="12" step="1" (change)="Months()" [value]="i?12:1" [thumbLabel]="true"></mat-slider>
    <span>{{month.value}}월</span>
    <br/>
	</span>
</div>

<button mat-raised-button color="primary" (click)="test();" style="width:100%">조회</button>

<div *ngIf="src" class="Content">
	<div>
		<h2>오늘의 사용량</h2>
		<h1 style="font-size:4em">{{Result.Day}} KWh</h1>
		<h3>예상 요금: {{Result.Bill}}원</h3>
	</div>

	<div>
		<h2>에너지 등급</h2>
    <mwl-gauge [min]="1" [max]="5" [value]="Result.Class" [animated]="true"
				[animationDuration]="1">
				</mwl-gauge>
	</div>

	<button mat-raised-button color="primary" style="width:100%">이번 달에 우리 아파트에서 평균 {{Result.Average}}KWh를 사용했어요!</button>

	<img [src]="Santize(src)" style="width:100%"/>
</div>

	<mat-grid-list cols="2">
		<mat-grid-tile id="Device" *ngFor="let Device of Devices;">
			<img src="https://img.icons8.com/search/{{Device.EN}}.png" style="width:50%" />
			<mat-slide-toggle></mat-slide-toggle>
			<span [innerText]="Device.KR"></span>
		</mat-grid-tile>
	</mat-grid-list>

	<p>Form: {{Stringify(Form)}}</p>