<mat-grid-list cols="6" rowHeight="100px">
	<mat-grid-tile colspan="4">
		<h1>우리집 전력 사용량</h1>
	</mat-grid-tile>

	<mat-grid-tile>
		<mat-form-field style="width:5em">
			<mat-select matNativeControl [(ngModel)]="Form.Mode" (ngModelChange)="Submit()">
				<mat-option value="User">유저 모드</mat-option>
				<mat-option value="Admin">관리 모드</mat-option>
			</mat-select>
		</mat-form-field>
	</mat-grid-tile>

	<mat-grid-tile>
		<mat-form-field style="width:5em">
			<mat-select matNativeControl [(ngModel)]="Form.dong" (ngModelChange)="Submit()">
				<mat-option *ngFor="let dong of Form_Initial.dong;" [value]="dong">
					{{dong}}동
				</mat-option>
			</mat-select>
		</mat-form-field>
	</mat-grid-tile>
</mat-grid-list>

<div style="height:calc((100vh - 100px))">
	<mat-tab-group mat-align-tabs="center" style="top:100px" [selectedIndex]="Tab.value"
		(selectedIndexChange)="Tab.setValue($event)">
		<mat-tab label="일">
			<mat-form-field style="width:5em">
				<mat-select matNativeControl [(ngModel)]="Form.floor" (ngModelChange)="Submit()">
					<mat-option *ngFor="let floor of Form_Initial.floor;" [value]="floor">
						{{floor}}층
					</mat-option>
				</mat-select>
			</mat-form-field>
			<h1>Request JSON</h1>
			<span [innerText]="Stringify(Form)"></span>
			<h1>AWS Lambda에서 실행한 matplotlib 예시</h1>
			<span>CSV를 다루는 코드로 교체 중</span>
			<br/>
      <img [src]="Santize(src)"/>
			<!--img src="https://apigateway.hwangsehyun.ga/community/foo" style="width:50%"-->
		</mat-tab>
			<mat-tab label="월">
			</mat-tab>
	</mat-tab-group>
</div>

<mat-grid-list cols="2" rowHeight="100vh">
	<mat-grid-tile id="Device" *ngFor="let Device of Devices;">
		<img src="https://img.icons8.com/{{Device.EN}}.svg"  style="width:50%"/>
		<mat-slide-toggle (click)="Device($event)" [(ngModel)]="checked">
		</mat-slide-toggle>
		<span [innerText]="Device.KR"></span>
	</mat-grid-tile>
</mat-grid-list>