<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
	<mat-expansion-panel-header [collapsedHeight]="Height" [expandedHeight]="Height">
		<mat-panel-title>
			<mat-icon>widgets</mat-icon>
			<span>LOTO Hardware</span>
		</mat-panel-title>
		<mat-panel-description>
			<div>
				<mat-icon>lock_open</mat-icon>
				<span>Unlocked</span>
				<mat-slide-toggle (click)="openDialog($event)" [(ngModel)]="checked"></mat-slide-toggle>
				<span>Locked</span>
				<mat-icon>lock</mat-icon>
				<br/>
				<p innerText=[Locked]></p>
			</div>
		</mat-panel-description>
	</mat-expansion-panel-header>

	<canvas baseChart [chartType]="'line'" [datasets]="datasets" [options]="panelOpenState ? options : {}">
	</canvas>
  
	<mat-list>
		<mat-list-item *ngFor="let Switch of Switches && Switches.slice(1); let i = index;">
			<mat-icon matListIcon>
				settings_applications</mat-icon>
			<h3 matLine>Switch {{i+1}}</h3>
			<pnid-switch [Status]="Switch" [i]="i" (Request)="Request(i, $event);"></pnid-switch>
		</mat-list-item>
	</mat-list>
</mat-expansion-panel>