<div id="Shadow" class="mat-elevation-z8">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Instructions">
      <img style="float:right" src="https://www.hwangsehyun.ga/teachersday/QRCode.png">
      <h1>How to Play:</h1>
      <div [innerHTML]="Instructions"></div>
    </mat-tab>
    <mat-tab label="Prizes">
      <h1>List of Prizes:</h1>
      <div id="GoogleHome">
        <img src="https://www.bigw.com.au/medias/sys_master/images/images/h1d/h51/11444208140318.jpg">
      </div>

      <ul>
        <li><b>1st Prize:</b>1 X Google Home Mini</li>
        <li><b>2nd Prize:</b>1 X Bluetooth Keyboard</li>
        <li><b>3rd Prize:</b>2 X Tea Set</li>
        <li><b>4th Prize:</b>2 X Hand-held Fan</li>
        <li><b>5th Prize:</b>2 X Moisture Cream</li>
        <li><b>6th Prize:</b>8 X Milk Thistle</li>
        <li class="Null">Null Reference Error:🤪 </li>
      </ul>
    </mat-tab>
    <mat-tab label="Play">
      <span># of Updates: {{Updates}}</span>
      <button id="Start" (click)="counter.begin()" mat-raised-button color="primary">Start the Game</button>
      <countdown #countdown [config]="{leftTime: 120, demand: true}" (event)="Countdown.Event($event)">$!m!:$!s-ext!s</countdown>
    </mat-tab>
  </mat-tab-group>

  <br>

  <mat-table [dataSource]="dataSource" matSort matSortDisableClear>

    <ng-container matColumnDef="Rank">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rank</mat-header-cell>
      <mat-cell *matCellDef="let Row"> {{Row.Rank}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Prize">
      <mat-header-cell *matHeaderCellDef>Prize</mat-header-cell>
      <mat-cell *matCellDef="let Row"> {{Row.Prize}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let Row"> {{Row.Name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Hash">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hash</mat-header-cell>
      <mat-cell *matCellDef="let Row"> {{Row.Hash}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Remove">
      <mat-header-cell *matHeaderCellDef>Remove</mat-header-cell>
      <mat-cell *matCellDef="let Row">
        <button mat-button="Remove" (click)="Remove(Row.Name)">
          <i class="material-icons">delete</i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
